
/*para dispositivos móviles: opcion 1
@media (max-width: 768px) {
  #root {
    height: 100vh;
    width: 100vh;
  }
}*/

/*para dispositivos móviles: opcion 2
html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* 100% del alto de la pantalla
  width: 100vh; /* 100% del ancho de la pantalla 
}*/
